/* Section 1: Header (Below) */
.headercontainer {
    display: flex;
    align-items: stretch; 
    flex-direction: row; 
    flex-wrap: nowrap;  
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }
  .headercontainer > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 10px;
    padding: 10px;
  }
  .item1 { 
    align-self: flex-start;
  }         
  .item2 { 
    align-self: flex-start;
  }        
  .item3 { 
    text-align: end;
    flex-grow: 1;
    align-self: baseline;
  }
/* Section 1: Header (Above) */

/* Section 2: Body(1) (Below) */
*, *::before, *::after{
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}
body{
  padding: 0;
  margin: 0%;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100%;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > buttons {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}
.span-two{
  grid-column: span 2;
}
.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.output .current-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 2.5rem;
}
/* Section 2: Body(1) (Above) */